{% extends 'base/base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% if message %}
        <div class="alert  alert-danger alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-danger">Failure</span>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endif %}
    <div class="row">
        <div class="card col-lg-6 text-center">
            {#            <div class="animated fadeIn">#}
            {#                <div class="row">#}
            {#                    <div class="text-center">#}
            <div class="card border-primary mb-3">
                <div class="class-body text-center">
                    <div class="card-header ">
                        <strong>Update Level 3</strong>
                    </div>
                    <div class="form-group">
                            <form method="post" class="form-control" id="Level3Form"
                                  data-level2-url="{% url 'ajax_load_level2' %}">
                                {% csrf_token %}
                                {{ form.as_p }}<br>
                                    <button type="submit" class="btn btn-primary col-3">Update</button>
                                </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="card border-primary mb-3">
                <div class="class-body">
                    <div class="card-header">
                        <strong>Level 3 Details</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td><strong>Code</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for level in level3 %}
                                <tr>
                                    <td>
                                        <a href="{% url 'edit_level3' level.id %}">
                                            {{ level.name }}
                                        </a>
                                    </td>
                                    <td>{{ level.code }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_parent_level1").change(function () {
        var url = $("#Level3Form").attr("data-level2-url");  // get the url of the `load_cities` view
        var parent_level = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: '{% url 'ajax_load_level2' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'parent_level': parent_level       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_parent_level").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });

    });

</script>
{% endblock %}
