{% extends 'base/base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% if message %}
        <h1 class="alert alert-danger">
            {{ message }}
        </h1>
    {% endif %}
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class=" card col-4 selector-available mx-auto">
                    <div class="card-header">
                        <strong>
                            All Permissions
                        </strong>
                    </div>
                    <div class="card-body mt-2">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ manger_form.as_p }}
                            <button type="submit"
                                    class="btn btn-outline-success fa fa-arrow-circle-o-right col-3 float-right">Add
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card col-4 selector-available mx-auto">
                    <div class="card-header"><strong>Assigned User Permissions<span
                            class="help help-tooltip help-icon"
                            title="This is the list of available user permissions. You may choose some by selecting them in the box below and then clicking the &quot;Choose&quot; arrow between the two boxes."></span>
                    </strong></div>
                    <div class="cardbody mt-2">
                        <form method="post" action="" name="remove">
                            {% csrf_token %}
                            {{ user_form.as_p }}
                            <button type="submit" class="btn btn-outline-danger fa fa-arrow-circle-o-left col-3 mx-auto">
                                Remove
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
