{% extends 'base/base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% if message %}
        <h1 class="alert alert-danger">
            {{ message }}
        </h1>
    {% endif %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="card border-primary mb-3">
                        <div class="class-body">
                            <div class="card-header">
                                <strong>Create Branch</strong>
                            </div>
                            <div class="form-group">
                                <form method="post" class="form-control">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-primary col-3">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="card border-primary mb-3">
                        <div class="class-body">
                            <div class="card-header">
                                <strong>Branches Details</strong>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <td><strong>Name</strong></td>
                                        <td><strong>Branch Manager</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for branch in branches %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'edit_branch' branch.id %}">
                                                    {{ branch.name }}
                                                </a>
                                            </td>
                                            <td>{{ branch.branch_manager }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}